.App {
  text-align: center;
}

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
}

.jumbotron {
  background-image: url("https://images.unsplash.com/photo-1519741497674-611481863552?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 26rem;
}

.front-card {
  margin-top: -3rem;
}

#card-text{
  padding: 1rem;
  margin-top: 0.5rem;
  font-weight: bold;
  margin-bottom: -1rem;

}

.main-text {
  margin-top: 1rem;
  color: white;
  font-weight: 700;
  font-size: 6rem;
}

.main-text-two {
  color: white;
  font-weight: bold;
}

.fas, .far {
  font-size: 2rem;
  color: #ba0001;
  padding: 1rem;
}

.lovely {
  /* font-family: 'Lovers Quarrel', cursive; */
  /* font-family: 'Love Ya Like A Sister', cursive; */
   /* font-family: 'Loved by the King', cursive; */
  font-family: 'Seaweed Script', cursive;
}
